*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(7, 123, 167);
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 28, 28);
    opacity: 0.9;
}
.navgtionBar{
    top: 10px;
    width: 100%;
    display: flex;
    background-color: rgb(59, 57, 57);
}

.nav{
    width: 100%;
   z-index: 10000;
   
}
.nav li{
    display: inline-block;
}

li a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px ;
}

.log{
    position:absolute;
    right: 0;
    z-index: 10000;
}


.log li{
    display: inline-block;
    margin: 10px 10px 8px 10px;
    margin-left: 5px ;
}
.log li a{
  
    text-decoration: none;
   
    color: whitesmoke;
    

}
li h1{
    color: antiquewhite;
    margin: 5px 10px 8px 10px;
   
   
    
}
body .welcome{
    position: relative;
    margin-top: 20px;
    height: 350px;
    display: flex;
    background-color: black;
}

.welcomeImg img{
    width: 400px;
}
.dsDisplay{
    display: block;
}
.moDisplay{
    display: none;
}
 .CompanyName{
    position: relative;
    width: 400px;
    margin: auto;
    color: rgb(179, 218, 255);
   

    }
 
.CompanyName h5{
    
    align-items: center;
    font-size: 35px;
    margin: 0px 0px 15px 15px;
}
.CompanyName p{
    color: rgb(255, 255, 255);
    margin: 0px 0px 10px 10px;

}
.container{
  
    width: 100%;
}
.CategoryName{
    color: aliceblue;
font-size: 15px;
background-color: #2b1055;
padding: 10px;
}
.ArrowButton{

    position: relative;
}
.productsList:hover #left , #right{
    color: rgb(173, 24, 24);
    position: relative;
}
#left{
    position: absolute;
    left: 0;
    margin-top: 150px;
    z-index: 5;
}
#right{
    position: absolute;
    right: 0;
    margin-top: 150px;
    z-index: 5;

}
.productsList {

overflow: auto;
white-space: nowrap;
scrollbar-width: 0;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
}
.productsList .products{
 margin: 5px;
 display: inline-block;
    scroll-snap-align: start;
}


.list{
    position: relative;
    padding-top: 10px;
}

.CategoryList ul li{
width: 100%;
}
.productCategory {
    display: inline-block;
    
    margin-top: 50px;
    left: 25px;
 
}
.filter h4{
    font-size: 15px;
    color: rgb(241, 241, 241);
}



.productCategory ul li{
    list-style:none;
    padding: 10px;
    display: inline-block;
 
}
.productCategory ul li button{
   background: none;
    padding: 6px 15px  ;
    cursor:pointer;
    border: none;  
}

 .productCategory ul li  .bthover{
    background: #fff;
    border-radius: 20px;
    color: #2b1055;  
    border: #fff;   
}

.productCategory ul li button:hover{
    background: rgb(221, 221, 221);
    border-radius: 20px;
    color: #2b1055; 
 }
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
 .products{
     position: relative;
     align-items: center;
     background-color: #fff;
     margin-top: 10px;
     margin-left: 5px;
    
 }


 div .pro{
     width: 250px;
     height: 300px;
     position: relative;
     border-radius: 10px;
            background: linear-gradient(to right bottom,rgba(255,255,255,0.7),
                            rgba(255,255,255,0.3))  ;
         

 }
 
 .img{
     width: 200px;
     height: 200px;
     display: flex;
     margin: auto;
     flex-direction: column;
     justify-content: center;
     margin-top: 10px;
     background-color: rgb(241, 239, 239);
     transform-style: preserve-3d;

 }
 .img:hover{
    width: 210px;
    height: 210px;
    background-color: rgb(241, 239, 239);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 20px 50px rgba(15, 46, 182, 0.5),
    inset 0 10px 10px rgba(201, 43, 43, 0.1) ;
}


 .img img{
     width: 200px;
    
    
 
 
 }
 .img:hover img{
     position: absolute;
     align-items: center;
     justify-content: center;  
    width: 210px;
  
}

 .pro a { 
    text-decoration: none;
    background-color: red;
    color: antiquewhite;
    padding: 5px 94px 5px 94px;
}
.pro a:hover {
    text-decoration: none;
    background-color: rgb(175, 0, 0);
    color: antiquewhite;
    margin-top: 15px;


   
}
.pro h2{
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10px;

}
.pro h6{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

@media screen and (max-width:600px)  {
    .contener{
        position: absolute;
        top:30%;
        width: 100%;
  
    
    }
    .welcomeImg img{
        width: 300px;
    }

    .log {left: 0;
    position: relative;}
   


}
@media screen and (max-width:460px) {
    .CompanyName{
        width: 100%;
    }
    .welcomeImg img{
        width: 300px;
    }
    .dsDisplay{
        display: none;
    }
    .moDisplay{
        display: block;
        float: right;
        margin: 0;
    }
}
@media screen and (max-width:460px) {
    .welcomeImg img{
        width: 200px;
    }
}

/* for order.php */

ul li{
    display: inline-block;
    
}
li a{
   
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px ;

}
li h1{
    color: antiquewhite;
    margin: 5px 10px 8px 10px;
    
}
.row{
    width: 1000px auto;
    height: 100%;
}
.card{
    width: 300px;
    height: 300px;
    padding-left: 5px ;
    margin: 15px ;
    float: left;
    background-color: aqua;
    justify-content: center;
   
}
.product{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 5px auto;
    margin-left: 50px;
    align-items: center;
  
 
 

  
   
}
.product a {
  
    text-decoration: none;
    background-color: red;
    color: antiquewhite;
    margin-top: 15px;
  
    padding: 5px 65px 5px 65px;
}
.product .image{
    margin: 4px auto;


}
.image{
    position: relative;
    
    height: 200px;
}
h2{
    font-size: 10px;
    margin-bottom: 15px;
}

.table{

    margin: auto;
}
.heading{
    text-align: center;
}
.table h3{
    font-size: 30px;
    color: aqua;
    margin-left: 50px;
}
.table table{
margin: auto;
    text-align: left;
 
    margin-top: 20px;
    padding: 15px;
    border: 5px;
 
    
    
}
               
table tr{
    border: 5px solid rgb(26, 5, 5);
}
 .productImage{
height: 150px;
padding-left: 20px;

}
table th{
   padding-right: 300px;
   padding-top: 35px;
}
table td{

    padding-top: 35px;
 }
 .orderForm{
    margin-left: 10px;
 }
 input{
 font-size: large;
 width: 200px;
 margin-top: 10px;
 }
.formcl{
    color: darkblue;
}
.submit{
    margin: 10px;
    width: 300px;
    padding: 10px 25px 10px 15px;
    background-color: rgb(182, 172, 172);
}
@media screen and (max-width:600px) {

    li h1{
        color: antiquewhite;
        margin: 5px 10px 8px 10px;
        font-size: 22px;
        
    }
    .table{
        
        margin-left: 0;
        margin-top: 0;
    }
    table th{
        padding-right: 30px;
        padding-top: 15px;
     }
     table td{

        padding-top: 15px;
     }
     h2{
        font-size: 10px;
        margin-bottom: 15px;
    }
    .table h3{
        font-size: 22px;
        color: aqua;
        margin-left: 50px;
        margin-top: 25px;
        margin-bottom: 0;
    }
    input{
        font-size: 16px;;
        width: 400px;
        margin-top: 10px;
        padding: 2px;
        }

        .submit{
            margin: 10px;
            width: 300px;
            padding: 10px 25px 10px 15px;
            background-color: rgb(199, 0, 0);
            cursor: pointer;
        }

        .submit:hover{
            margin: 10px;
            width: 295px;
            font-size: 12px;
            padding: 10px 25px 10px 15px;
            background-color: rgb(199, 0, 0);
            cursor: pointer;
        }
}
