* {
    margin: 0px;
}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
    background-color:rgba(7, 123, 167);

	
}

.login {
	width: 350px;
	margin: 100px auto;
}

p {
	margin-bottom: 15px;
}

p.error {
	background: red;
	color: white;
	padding: 10px;
}
p.logout {
	background: rgb(36, 189, 56);
	color: white;
	padding: 10px;
}

input {
	display: block;
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
}

button {
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header{
    background: rgb(206, 199, 199);
    overflow: auto;
    padding: 5px;
}
header .appname{
    float: left;
}
header .loggedin{
    float: right;
}
main{
	width: 1000px;
	margin: 30px auto;
}
main h1{
	margin-bottom: 20px;
	font-size: 50px;
}
main h1 span{
	font-size: 20px;
}
.masterlist{
	width: 100%;
	border-collapse: collapse;

}
.masterlist th{
	background-color: #aaa;
}
.masterlist th , td{
	padding: 5px;
	border-bottom: 1px solid #aaa;
}
.userform label{
width: 30%;
float: left;
}
.userform input{
	width: 60%;
}
.userform button{
	width: 200px;
}
.errmsg{
	margin: 20px 0;
	color: red;
}


@media screen and (max-width:600px) {
	.login {
		width: 350px;
		margin: 100px auto;
	}
	
	p {
		margin-bottom: 15px;
	}
	
	p.error {
		background: red;
		color: white;
		padding: 10px;
	}
	p.logout {
		background: rgb(36, 189, 56);
		color: white;
		padding: 10px;
	}
	
	input {
		display: block;
		width: 100%;
		padding: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 14px;
	}
	
	button {
		width: 100%;
		padding: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header{
		background: rgb(206, 199, 199);
		overflow: auto;
		padding: 5px;
	}
	header .appname{
		float: left;
	}
	header .loggedin{
		float: right;
	}
	main{
		width: 550px;
		margin: 30px auto;
	}
	main h1{
		margin-bottom: 20px;
		font-size: 50px;
	}
	main h1 span{
		font-size: 20px;
	}
	.masterlist{
		width: 100%;
		border-collapse: collapse;
	
	}
	.masterlist th{
		background-color: #aaa;
	}
	.masterlist th , td{
		padding: 5px;
		border-bottom: 1px solid #aaa;
	}
	.userform label{
	width: 30%;
	float: left;
	}
	.userform input{
		width: 60%;
	}
	.userform button{
		width: 200px;
	}
	.errmsg{
		margin: 20px 0;
		color: red;
	}
}